.footer {
    padding: 1.25rem;
    font-size: 14px;
    background: linear-gradient(
        180deg,
        #2a2a2a 0%,
        #1f1f1f 40%,
        #151515 100%
    );
    color: white;
    padding: 18px 0;
    border-bottom: 1px solid #3a3a3a;
    box-shadow:
        4px 0 16px rgba(0,0,0,0.45),
        inset 0 1px 0 rgba(255,255,255,0.05);
}

@media (max-width: 768px) {
    .footer{
        padding: 0.75rem;
        font-size: 10px;
    }
}